<html>
    <head>
        <title>Translation-NLP</title>
        <link rel="stylesheet" type="text/css" href="{{ css_url }}">
    </head>
    <body>
        <button id="modeToggle"> Dark </button>
        <nav class="navbar">
            <a href="{{ url_for('home_page') }}">Home</a>
            <a href="{{ url_for('Translation') }}">Translate</a>
            <a href="{{ url_for('Speech_recognition') }}">Speech recognition</a>
        </nav>
        <h1>Let's make a translation using our NLP !! </h1>
        <label for="Prompt"> Enter Your sentences</label>

        <script src="{{ url_for('static', filename='home_file.js') }}"></script>
    </body>
</html>
